
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="footer-col">
                <h4>PG Course</h4>
                <ul>
                    <li>ME Big Data Analytics</li>
                    <li>ME Biometrics and Cyber Security</li>
                    <li>ME CSE with Specialization in Networks</li>
                    <li>ME Manufacturing</li>
                    <li>M.Tech Biotechnology</li>
                    <li>MBA</li>
                    <li>MCA</li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Contact</h4>
                <ul>
                    <li><a href="mailto:kvcet@live.com"><i class="fa fa-envelope"></i> kvcet@live.com</a></li>
                    <li><a href="tel:04427565486"><i class="fa fa-phone"></i> 044-27565486</a></li>
                    <li><a href="https://www.google.com/maps/place/Karpaga+Vinayaga+College+of+Engineering+and+Technology/@12.590688,79.913688,1616m/data=!3m1!1e3!4m5!3m4!1s0x0:0x2485bea2ae7907a2!8m2!3d12.5906875!4d79.9136875?hl=en"> <i class="fa fa-map-marker" aria-hidden="true"></i> Karpaga Vinayaga College of Engineering and Technology,
                        G.S.T Road, Chinna Kolambakkam, Madhuranthagam(T.k), Chengalpattu (D.t)-603308.</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <ul>
                    <li><a href="https://m.facebook.com/KarpagaVinayagaCollegeOfEngineeringAndTechnology/?tsid=0.5954310711860002&source=result"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/KVCET_?s=08"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com/karpaga_vinayaga_cet?utm_medium=copy_link"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/school/karpaga-vinayaga-college-of-engineering-and-technology"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>