* {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.heading {
    display: flex;
    background-color: #232f3e;
    box-shadow: 0px 1px 2px #232f3e;

}
h1 {
    color: coral;
    font-weight: bold;
    
    background: transparent;
    padding: 7px;
    
}


table{
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0px;
    min-width: max-content;
    padding-bottom: 100px;
}
th{
    position:sticky;
    top: 0px;
    background-color: rgb(57, 58, 63);
    color: rgb(243, 240, 234);
}
.table-wrapper{
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
.outer-wrapper{
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    margin: 20px;
    border-radius: 5px;
    max-width: fit-content;
}
.tspace{
    padding-top: 100px;
}
.bspace{
    padding-bottom: 250px;
  }