
<div class="bg-image"></div>
<div class="main">
    <p class="sign">Sign In</p>
<form  class="form1" (ngSubmit)="login()">
    <div>
        
        <input class="username" type="text" id="username" name="userName"  [(ngModel)]="userName" placeholder="UserName" autofocus required/>
    </div>
    <div>
        <input class="password" type="password" id="password" name="password" [(ngModel)]="password" placeholder="Password" required/>
    </div>
    
    <button class="submit" type="submit">submit</button>
</form>
</div>