h1{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding-top: 10px;
}
h2{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding-top: 10px;
}
h4{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding-top: 10px;
}
a{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding-top: 10px;
}
.space{
    padding-bottom: 750px;
  }